<% page_available = defined?(page) && page %>
<li class="page-item <%= 'disabled' unless page_available %>" aria-disabled="<%= (!page_available).to_s %>">
  <% if page_available %>
    <%= link_to raw(t('views.pagination.first')), url, class: 'page-link' %>
  <% else %>
    <span class="page-link"><%= raw(t('views.pagination.first')) %></span>
  <% end %>
</li>