<div id="<%= dom_id copia_filme %>">
  <p>
    <strong>Filme:</strong>
    <%= copia_filme.filme_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= copia_filme.status %>
  </p>

  <p>
    <strong>Tipo midia:</strong>
    <%= copia_filme.tipo_midia %>
  </p>

</div>
